* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  padding: 0px;
  background-color: #cccccc;
  max-width: 100%;
  overflow-x: hidden;
  font-family: "Roboto Slab", serif;
}
.nav_menu {
  margin-right: 20px;
  background-color: red;
  display: flex;
  justify-content: flex-end;
}
nav ul {
  display: flex;
  flex-direction: column;
  position: fixed;
}
li {
  list-style-type: none;
  margin: 10px;
  background-color: #83c5be;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  padding: 6px;
}
a {
  color: #0c1821;
}
a:hover {
  color: #ffa500;
}
main {
  margin: 40px;
}

h2,
h4 {
  background-color: #83c5be;
  width: 30%;
  padding: 20px;
  border-radius: 2px;
  box-shadow: #83c5be;
}

img {
  max-width: 100%;
  height: auto;
}
.header {
  text-align: center;
}
hr {
  border: 1px solid black;
}
#summary {
  height: 10%;
}

#exprience span,
#education span {
  margin-left: 40px;
}
#skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 15%;
  column-gap: 20px;
}

.bar {
  width: 100px;
  display: inline-block;
  background-color: yellow;
  border: 2px solid yellow;

  margin-left: 20px;
}
footer {
  background-color: #335c67;
  text-align: center;
  padding: 100px;
}
form {
  padding: 10px;
  margin: 20px;
  width: 100%;
}
input[type="text"],
input[type="email"] {
  margin-bottom: 20px;
  width: 30%;
  height: 40px;
  padding: 10px;
}
button {
  width: 15%;
  height: 50px;
  padding: 16px;
  padding-top: 20px;
  margin-top: 22px;
  background-color: #a2d2ff;
  border-color: #a2d2ff;
  border-radius: 5px;
  color: black;
  font-size: 18px;
}
textarea {
  width: 25%;
  height: 200px;
  margin-right: 70px;
  margin-top: 50px;
  padding: 20px;
}
#lab {
  position: relative;
  bottom: 180px;
}
#contact a {
  margin: 7%;
  text-align: end;
  color: wheat;
}
footer h3 {
  color: wheat;
}
input {
  border: none;
}
.radios {
  margin-right: 250px;
  margin-top: 20px;
}
label {
  color: white;
}
#contact img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  left: 6%;
}

#contact {
  display: flex;
  flex-direction: row;

  justify-content: space-evenly;
  width: 100%;
}
.skills {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 250px;
}
.skills p {
  margin-right: 2px;
  display: flex;
  justify-content: space-around;
}
.box-1 {
  flex: 4;
  background-color: #83c5be;
  border: 1px solid black;
  color: white;
  height: 20px;
}

.box-2 {
  flex: 1;
  border: 1px solid black;
  color: black;
  height: 20px;
}
section {
  display: flex;
  flex-direction: column;
}
.foot {
  display: flex;
  justify-content: space-around;
}

#footer_h2 {
  margin-left: 40px;
}
